*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
classes/

build.properties
build.xml
out/
app/release